<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <meta name="author" content="David Basoco">
    <meta name="description" content="David Basoco's landing page">

    <title>{{ page.title }}</title>

    <link rel="shortcut icon" href="{{ site.assets_path }}/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link rel="stylesheet" href="{{ site.assets_path }}/css/main.css">

    {% include ga.html %}
  </head>

  <body>
